[submodule "Testes automatizados do Firefly com Cypress/Testes automatizados do Firefly com Cypress/cypress-tests"]
	path = Testes automatizados do Firefly com Cypress/Testes automatizados do Firefly com Cypress/cypress-tests
	url = git@github.com:Elissdev/cypress-tests.git
